{% extends "travlr_base_bs.html" %}
{% block title %}Travlr: Visits{% endblock %}



{% block heading %}

{% endblock %}


{% block content %}

{% if latest_visits %}
<div class="container">
	<table class = "table table-striped">
		<thead>  
	        <tr>  
	            <th>User</th>  
	            <th>Date</th>  
	            <th>Countries</th>  
	        </tr>  
	     </thead>  
	     <tbody>
	        {% for visit in latest_visits %}
	        <tr>  
	            <td>{{ visit.user }}</td>  
	            <td>{{ visit.visitDate}}</td>  
	            <td>{{ visit.country_names }}</td>  
	        </tr>  
	        {% endfor %} 
	     </tbody>
	</table>

	<br>

	<div>
	<p><a class="btn btn-primary btn-medium" href="add_trip">Add another trip&raquo;</a></p>  
	</div>
</div> <!-- container -->

{% else %}
<div class ="container">
	No visits at this time.
</div>
{% endif %}

{% endblock %}
